<!-- Settings -->
<div class="tab-pane fade h-100" id="tab-content-settings" role="tabpanel">
  <div class="d-flex flex-column h-100">
    <div class="hide-scrollbar">
      <div class="container py-8">
        <!-- Title -->
        <div class="mb-8">
          <h2 class="fw-bold m-0">Settings</h2>
        </div>

        <!-- Search -->
        <div class="mb-6">
          <form action="#">
            <div class="input-group">
              <div class="input-group-text">
                <div class="icon icon-lg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-search"
                  >
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </div>
              </div>

              <input
                type="text"
                class="form-control form-control-lg ps-0"
                placeholder="Search messages or users"
                aria-label="Search for messages or users..."
              />
            </div>
          </form>
        </div>

        <!-- Profile -->
        <div class="card border-0">
          <div class="card-body">
            <div class="row align-items-center gx-5">
              <div class="col-auto">
                <div class="avatar">
                  <img
                    src="assets/img/avatars/1.jpg"
                    alt="#"
                    class="avatar-img"
                  />
                </div>
              </div>
              <div class="col">
                <h5>{{ firstName + " " + lastName }}</h5>
                <p>{{ userEmail }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Profile -->

        <!-- Account -->
        <div class="mt-8">
          <div class="d-flex align-items-center mb-4 px-6">
            <small class="text-muted me-auto">Account</small>
          </div>

          <div class="card border-0">
            <div class="card-body py-2">
              <!-- Accordion -->
              <div class="accordion accordion-flush" id="accordion-profile">
                <div class="accordion-item">
                  <div class="accordion-header" id="accordion-profile-1">
                    <a
                      href="#"
                      class="accordion-button text-reset"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-profile-body-1"
                      aria-expanded="true"
                      aria-controls="accordion-profile-body-1"
                    >
                      <div>
                        <h5>Profile settings</h5>
                        <p>Change your profile settings</p>
                      </div>
                    </a>
                  </div>

                  <div
                    id="accordion-profile-body-1"
                    class="accordion-collapse collapse show"
                    aria-labelledby="accordion-profile-1"
                    data-parent="#accordion-profile"
                  >
                    <div class="accordion-body">
                      <div class="form-floating mb-6">
                        <input
                          type="text"
                          class="form-control"
                          id="profile-name"
                          placeholder="Name"
                        />
                        <label for="profile-name">Name</label>
                      </div>

                      <div class="form-floating mb-6">
                        <input
                          type="email"
                          class="form-control"
                          id="profile-email"
                          placeholder="Email address"
                        />
                        <label for="profile-email">Email</label>
                      </div>

                      <div class="form-floating mb-6">
                        <input
                          type="text"
                          class="form-control"
                          id="profile-phone"
                          placeholder="Phone"
                        />
                        <label for="profile-phone">Phone</label>
                      </div>

                      <div class="form-floating mb-6">
                        <textarea
                          class="form-control"
                          placeholder="Bio"
                          id="profile-bio"
                          data-autosize="true"
                          style="
                            min-height: 120px;
                            overflow: hidden;
                            overflow-wrap: break-word;
                            resize: none;
                            height: 120px;
                          "
                        ></textarea>
                        <label for="profile-bio">Bio</label>
                      </div>

                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-primary w-100"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Switch -->
              </div>
            </div>
          </div>
        </div>
        <!-- Account -->

        <!-- Security -->
        <div class="mt-8">
          <div class="d-flex align-items-center my-4 px-6">
            <small class="text-muted me-auto">Security</small>
          </div>

          <div class="card border-0">
            <div class="card-body py-2">
              <!-- Accordion -->
              <div class="accordion accordion-flush" id="accordion-security">
                <div class="accordion-item">
                  <div class="accordion-header" id="accordion-security-1">
                    <a
                      href="#"
                      class="accordion-button text-reset collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-security-body-1"
                      aria-expanded="false"
                      aria-controls="accordion-security-body-1"
                    >
                      <div>
                        <h5>Password</h5>
                        <p>Change your password</p>
                      </div>
                    </a>
                  </div>

                  <div
                    id="accordion-security-body-1"
                    class="accordion-collapse collapse"
                    aria-labelledby="accordion-security-1"
                    data-parent="#accordion-security"
                  >
                    <div class="accordion-body">
                      <form action="#" autocomplete="on" [formGroup]="myForm">
                        <div class="form-floating mb-6">
                          <input
                            type="password"
                            class="form-control"
                            id="profile-current-password"
                            placeholder="Current Password"
                            autocomplete=""
                            formControlName="currentPassword"
                          />
                          <label for="profile-current-password"
                            >Current Password</label
                          >
                          <div
                            *ngIf="
                              myForm.get('currentPassword')?.invalid &&
                              (myForm.get('currentPassword')?.dirty ||
                                myForm.get('currentPassword')?.touched)
                            "
                          >
                            <p class="validation mt-2">
                              Please provide the password linked with this
                              account.
                            </p>
                          </div>
                        </div>

                        <div class="form-floating mb-6">
                          <input
                            type="password"
                            class="form-control"
                            id="profile-new-password"
                            placeholder="New password"
                            autocomplete=""
                            formControlName="newPassword"
                          />
                          <label for="profile-new-password">New password</label>
                          <div
                            *ngIf="
                              myForm.get('newPassword')?.invalid &&
                              (myForm.get('newPassword')?.dirty ||
                                myForm.get('newPassword')?.touched)
                            "
                          >
                            <p class="validation mt-2">
                              Please provide a new password.
                            </p>
                          </div>
                        </div>

                        <div class="form-floating mb-6">
                          <input
                            type="password"
                            class="form-control"
                            id="profile-verify-password"
                            placeholder="Verify Password"
                            autocomplete=""
                            formControlName="verifyPassword"
                          />
                          <label for="profile-verify-password"
                            >Verify Password</label
                          >
                          <div
                            *ngIf="
                              myForm.get('verifyPassword')?.invalid &&
                              (myForm.get('verifyPassword')?.dirty ||
                                myForm.get('verifyPassword')?.touched)
                            "
                          >
                            <p class="validation mt-2">
                              Please provide the same password as the new one.
                            </p>
                          </div>
                        </div>
                      </form>
                      <button
                        type="button"
                        class="btn btn-block btn-lg btn-primary w-100"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Security -->
      </div>
    </div>
  </div>
</div>
