<div class="row h-100">
  <div class="d-none d-sm-flex col-md-6 logo">
    <img src="assets/img/logo/logo.png" alt="" class="icon" />
  </div>
  <div class="col-sm-12 col-md-6 form-container">
    <div class="p-5">
      <div class="text-center mb-5 mb-md-7">
        <h1 class="h2">Welcome to ChatWave</h1>
        <p class="text-secondary">Fill out the form to get started.</p>
      </div>

      <form
        class="form border-primary rounded-pill"
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm)"
      >
        <div class="mb-4">
          <label class="form-label">Your email</label>
          <input
            type="email"
            id="email-value"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="Your email"
            aria-label="Your email"
          />
          <div
            *ngIf="
              myForm.get('email')?.invalid &&
              (myForm.get('email')?.dirty || myForm.get('email')?.touched)
            "
          >
            <p class="validation mt-2">Please provide a email.</p>
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label">Your First Name</label>
          <input
            type="text"
            id="firstName-value"
            class="form-control form-control-lg firstName-value"
            formControlName="firstName"
            placeholder="Your First Name"
            aria-label="Your First Name"
          />
          <div
            *ngIf="
              myForm.get('firstName')?.invalid &&
              (myForm.get('firstName')?.dirty ||
                myForm.get('firstName')?.touched)
            "
          >
            <p class="validation mt-2">Please provide a name.</p>
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label">Your Last Name</label>
          <input
            type="text"
            id="lastName-value"
            class="form-control form-control-lg lastName-value"
            formControlName="lastName"
            placeholder="Your Last Name"
            aria-label="Your Last Name"
          />
          <div
            *ngIf="
              myForm.get('lastName')?.invalid &&
              (myForm.get('lastName')?.dirty || myForm.get('lastName')?.touched)
            "
          >
            <p class="validation mt-2">Please provide a name.</p>
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label" for="signupModalFormSignupPassword"
            >Password</label
          >
          <input
            type="password"
            id="password-value"
            class="js-toggle-password form-control form-control-lg"
            formControlName="password"
            id="signupModalFormSignupPassword"
            placeholder="6+ characters required"
            aria-label="6+ characters required"
          />
          <div
            *ngIf="
              myForm.get('password')?.invalid &&
              (myForm.get('password')?.dirty || myForm.get('password')?.touched)
            "
          >
            <p class="validation mt-2">Please provide a password.</p>
          </div>
        </div>

        <div class="d-grid mb-3 mt-5">
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            [disabled]="myForm.invalid"
          >
            Sing up
          </button>
        </div>

        <div class="text-center">
          <p>
            Already have an account?
            <a class="link" href="login.html">Log in here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
