<div class="card border-0 noMarginTop" *ngIf="user && loggedUser">
  <div class="card-body">
    <div class="row align-items-center gx-5">
      <div
        class="col-auto"
        [ngClass]="{ 'user-blocked': loggedUser.blockedIds.includes(user.id) }"
      >
        <a class="avatar">
          <img class="avatar-img" src="assets/img/avatars/6.jpg" />
        </a>
      </div>

      <div
        class="col"
        [ngClass]="{ 'user-blocked': loggedUser.blockedIds.includes(user.id) }"
      >
        <h5>
          <a>{{ user.firstName + " " + user.lastName }}</a>
          <p class="text-muted">{{ user.bio }}</p>
        </h5>
      </div>

      <div class="col-auto">
        <!-- Dropdown -->
        <div class="dropdown">
          <a
            class="icon text-muted"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-more-vertical"
            >
              <circle cx="12" cy="12" r="1"></circle>
              <circle cx="12" cy="5" r="1"></circle>
              <circle cx="12" cy="19" r="1"></circle>
            </svg>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a
                (click)="blockUser()"
                class="dropdown-item text-danger"
                *ngIf="!loggedUser.blockedIds.includes(user.id)"
                >Block user</a
              >
              <a
                (click)="unBlockUser()"
                class="dropdown-item text-danger"
                *ngIf="loggedUser.blockedIds.includes(user.id)"
                >Unblock user</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
