<div class="d-flex flex-column h-100">
  <div class="hide-scrollbar">
    <div class="container py-8">
      <!-- Title -->
      <div class="mb-8">
        <h2 class="fw-bold m-0">Notifications</h2>
      </div>

      <div class="card-list">
        <div *ngFor="let notification of notifications">
          <app-notification
            [data]="notification"
            (onDelete)="onNotificationDelete($event)"
          ></app-notification>
        </div>
      </div>
    </div>
  </div>
</div>
