.cursor-pointer {
    cursor: pointer;
}

.logo {
    width: 50%;
}

.icon {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

input.ng-invalid.ng-touched {
    border: red 1px solid;
}
input.ng-dirty.ng-valid{
    border: green 1px solid
}

input {
    font-size: 20px;
}

label {
    font-size: 20px;
}

.validation {
    font-size: 15px;
}

@media (max-width: 767.98px) { 
    form{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
 }

