<div class="row h-100">
  <div class="d-none d-sm-flex col-md-6 logo">
    <img src="assets/img/logo/logo.png" alt="" class="icon" />
  </div>
  <div class="col-sm-12 col-md-6 form-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-center align-items-center">
        <div class="flex-grow-1 container">
          <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">Welcome back</h1>
            <p>Login to manage your account.</p>
          </div>

          <div class="mb-4 form-validation">
            <label class="form-label">Your email</label>
            <input
              id="email-value"
              type="email"
              class="form-control form-control-lg email"
              formControlName="email"
              placeholder="Your email"
              aria-label="Your email"
            />
            <div
              *ngIf="
                myForm.get('email')?.invalid &&
                (myForm.get('email')?.dirty || myForm.get('email')?.touched)
              "
            >
              <p class="validation mt-2">Please provide a email.</p>
            </div>
          </div>

          <div class="mb-4 form-validation form-password">
            <label class="form-label">Password</label>
            <input
              type="password"
              id="password-value"
              class="form-control form-control-lg password"
              formControlName="password"
              id="signupModalFormLoginPassword"
              placeholder="9+ characters required"
              aria-label="9+ characters required"
            />
            <div
              *ngIf="
                myForm.get('password')?.invalid &&
                (myForm.get('password')?.dirty ||
                  myForm.get('password')?.touched)
              "
            >
              <p class="validation mt-2">Please provide a password.</p>
            </div>
          </div>

          <div class="form-check d-flex align-items-center mx-5 px-5">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              formControlName="remember"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Remember Me
            </label>
          </div>

          <div class="d-grid mb-3">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              [disabled]="myForm.invalid"
            >
              Log in
            </button>
          </div>

          <div class="text-center">
            <p>
              Don't have an account yet?
              <a class="cursor-pointer" (click)="redirect()">Sign up here</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
