<div class="d-flex">
  <div class="logo">
    <img src="assets/img/logo/logo.png" alt="" class="icon" />
  </div>
  <div class="form">
    <form class="border border-primary rounded-pill">
      <div class="d-flex justify-content-center align-items-center my-5">
        <div class="flex-grow-1 container">
          <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">Welcome back</h1>
            <p>Login to manage your account.</p>
          </div>

          <div class="mb-4 form-validation">
            <label class="form-label">Your email</label>
            <input
              id="email-value"
              type="email"
              class="form-control form-control-lg email"
              name="email"
              placeholder="Your email"
              aria-label="Your email"
              required=""
            />
          </div>

          <div class="mb-4 form-validation form-password">
            <label class="form-label">Password</label>
            <input
              type="password"
              id="password-value"
              class="form-control form-control-lg password"
              name="password"
              id="signupModalFormLoginPassword"
              placeholder="6+ characters required"
              aria-label="6+ characters required"
              required=""
            />
          </div>

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Log in</button>
          </div>

          <div class="text-center">
            <p>
              Don't have an account yet?
              <a class="link" href="register.html">Sign up here</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
