<div class="card border-0 mb-5" *ngIf="data">
  <div class="card-body">
    <div class="row gx-5">
      <div class="col-auto">
        <!-- Avatar -->
        <div class="avatar">
          <span class="avatar-text bg-warning">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-star"
            >
              <polygon
                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
              ></polygon>
            </svg>
          </span>

          <div
            class="badge badge-circle bg-warning border-outline position-absolute bottom-0 end-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-gift"
            >
              <polyline points="20 12 20 22 4 22 4 12"></polyline>
              <rect x="2" y="7" width="20" height="5"></rect>
              <line x1="12" y1="22" x2="12" y2="7"></line>
              <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
              <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex align-items-center mb-2">
          <h5 class="me-auto mb-0">
            <span *ngIf="data.type === typeEnum.ProfileChange"
              >Profile changed!</span
            >
            <span *ngIf="data.type === typeEnum.PasswordChange"
              >Password changed!</span
            >
            <span *ngIf="data.type === typeEnum.FriendRequest">{{
              data.firstName + " " + data.lastName
            }}</span>
          </h5>
          <span class="extra-small text-muted ms-2">{{
            data.date | date : "dd/MM/yy"
          }}</span>
        </div>

        <div class="d-flex">
          <div class="me-auto">{{ data.description }}</div>
          <div class="dropdown ms-5">
            <a
              class="icon text-muted"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-more-horizontal"
              >
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="19" cy="12" r="1"></circle>
                <circle cx="5" cy="12" r="1"></circle>
              </svg>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" (click)="onDeleteClick()">Delete</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    _ngcontent-ng-c1277516133=""
    class="card-footer"
    *ngIf="data.type === typeEnum.FriendRequest"
  >
    <div _ngcontent-ng-c1277516133="" class="row gx-4">
      <div _ngcontent-ng-c1277516133="" class="col">
        <a
          _ngcontent-ng-c1277516133=""
          class="btn btn-sm btn-soft-primary w-100"
          (click)="onDeleteClick()"
          >Hide</a
        >
      </div>
      <div _ngcontent-ng-c1277516133="" class="col">
        <a
          _ngcontent-ng-c1277516133=""
          class="btn btn-sm btn-primary w-100"
          (click)="confirmFriendRequest()"
          >Confirm</a
        >
      </div>
    </div>
  </div>
</div>
